#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:500px;
	width:500px;
	padding: 0;
	border: none;
	display: grid;
	grid-template-columns: repeat(16, 31.25px);
	grid-auto-rows: 500/4px;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
	width: 500/4;
	height: 500/4;
}

.grid:hover{
	background-color:black;
	transition: ease 0.1s all;
}

.trail {
	background-color:black;
}